{% extends 'main.html' %}


{% block content %}

<p>Hello, u are on the {{page}} page</p>

{% if number > 25 %}
<h4>Number is GREATER than 25</h4>

{% elif number == 25 %}    
<h4>it1s 25!!</h4>

{% else %}
<h3>Number is LESS than 25</h3>

{% endif %}


<h1>ALL Projects Template</h1>
<div style="border:3px solid blue; width: 250px; height: auto; background: rgba(0, 0, 139, 0.507); color: #fff;">
    Rendered from Templates
</div>   

<h1>Projects</h1>

<ul>
    {% for project in projects %}
        <li>Title: <a href="{% url 'project' project.id %}"> {{project.title}} </a> --- {{project.description}}</li>

    {% endfor %}
</ul>

{% endblock content %}